.main {}

.head {
    margin: 10px;
    background-color: #009cff;
    color: black;
    padding: 5px;
}

.body {
    margin: 30px;
}

.child {}

.sidenav {
    float: left;
}

.mainDiv {
    margin-left: 300px;
}

